// instalação do node sass para comparação 

* {
    
  margin: 0;
  outline: none;
}

body {
  background: #fff;
}


.classeA{
    background: rgb(128, 41, 41);
    &:hover{
        background: #fff;
    }
}

